body{margin: 0;
	padding: 0;
	background:yellow no-repeat;
	
	background-size:cover;
}
h1{
	text-align: center;
	padding-top: 45px;
	font-size: 70px;
}
section{
	width:fill;
	height: fill;
}
slider{
	width: 100%;
	height:100%;
	overflow: hidden;
	position: absolute;
}

slider > *{
display: block;
position: absolute;
width:100%;
height: 100%;
animation: slide 12s infinite;
overflow: hidden; 
}
slide:nth-child(1){
	left: 0%;
	animation-delay:-1s;
	background-image: url(first.jpg);
	background-position: center;
	background-size: cover; 


}
slide:nth-child(2){
	left: 0%;
	animation-delay:2s;
	background-image: url(second.jpg);
	background-position: center;
	background-size: cover;
	

}
slide:nth-child(3){
	left: 0%;
	animation-delay:5s;
	background-image: url(third.jpg);
	background-position: center;
	background-size: cover;
	

}
slide:nth-child(4){
	left: 0%;
	animation-delay:8s;
	background-image: url(fourth.jpg);
	background-position: center;
	background-size: cover;
	

}


.login{
	text-align: center;
color:white;
font-family: "Oswald" ,sans-serif;
padding: 25px 5px 5px 5px;
box-sizing: border-box;
top:70%;
left: 50%;
position:absolute;
height: 520px;
width:800px;
transform:translate(-50%,-50%);
background: rgba(0,0,0,0.5);


	}
button{
	margin:25px ;
	padding-bottom: 20px;
	padding-top: 14px;
	width:200px;
	border-bottom: 10px;
    text-align:center;
    border-radius: 24px;
    font-family: "Comic Sans MS" ,cursive,sans-serif;
   	
}
button:hover{

	align-self: :center;
	background:#FFB6C1;
	border-bottom: 10px;
	border-radius: 24px;

}
@keyframes slide{
	0%{left:100%;width: 100%;}
	5%{left:0%;}
	25%{left:0%;}
	30%{left:-100%;width: 100%;}
	30.0001%{left:-100%;width: 0%;}
	100%{left:100%;width: 0%;}
}
