body{
	margin:0;
	padding:0;
	background-image: url(img/merchant.jpg);
	background-size: cover;
	color: #ffff;
	font-family: "dancing-script",cursive;
	font-size: 24px;
	overflow: hidden;
}
h3{
	color: red;
	animation: movement 9s linear infinite;
	transform: translateX(100%);
}

#m{
	border-radius: 25px;
	background: #00ccff;
	width: 150px;
	height: 40px;
	top:45%;
	left:45%;
	transform:translate(-50%,-50%);
	position: absolute;
	cursor: pointer;
	overflow: hidden;

	}
	textarea{
		margin: 20px;

	}
	#b{
	border-radius: 25px;
	background: #00ccff;
	width: 300px;
	height: 100px;
	background-color: orange;
	top:90%;
    left: 50%;
   transform:translate(-50%,-50%);
   position: absolute;
   cursor: pointer;

	}
	@keyframes movement{
		0%{transform: translateX(100%);}
		100%{transform: translateX(-100%);}
	
	}